MONGO_URI=mongodb://usuario:senha@localhost:27017/nome_do_banco?authSource=admin
MONGO_DB_NAME=faceauth

JWT_SECRET_KEY=sua_chave_secreta_aqui
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

APP_ENV=development

MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=

CAMERA_URL